.wrapper-new-list-component {
    width: 100%;
    .new-list-close-dialog {
        &:hover {
            cursor: pointer;
        }
        img {
            width: 32px;
            height: 32px;
        }
    }
}

.one-filter {
    background-color: #fff;
    color: #778699;
}