.wrapper-hcw {
    padding: 20px;
    .hcw-text-wrapper {
        .hcw-text-hello{
            color: #0B74C0;
            font-size: 20px;
        }
        
        .hcw-date {
            color: #757575;
            font-size: 12px;
        }
    
        div {
            margin-bottom: 20px;
        }
        
        span {
            font-size: 16px;
            color: #424242;
        }
    
        .hcw-highlights {
            color: #009DE9;
        }
    }
}

