.sidenav-wrapper {
    // Prendre en compte la height du header
    height: 100%;
    width: 70px;
    // background-color: red;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    border-right: 1px solid #e0e0e0;
    background-color: #009DE9;
    ul {
        margin-top: 30px;
        li {
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-left: 4px solid #009DE9;
            transition: 0.5s;
            &:hover {
                background-color: #e0e0e080;
                border-color: #fff;
            }
        }
    }
    .logo-engie {
        margin: 35px 0 20px 0;
        width: 69px;
        height: 16px;
        display: block;
        background-color: #009DE9;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .wrapper-header-profil {
        margin: 30px auto;
        .header-profil {
            padding: 10px;
            background-color: #fff;
            border-radius: 50%;
            color: #009DE9;
        }
    }
    
}
